<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Pretty Date</title>
</head>
<body>
  <div class="container">
    <div class='well'>
        <h2>Pretty Date</h2>
        <a href="/" class="btn btn-primary">Home</a>

    </div>

    <p>Input: {{ input }}</p>
    <p>Output: <strong>{{ prettyOutput }}</strong></p>
  </div>
</body>
</html>
