<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <title>Your Address Book</title>
</head>
<body>
  <div class='container'>
    <h1>Your Address Book</h1>
    {% for contact in contacts %}
    <div class='row'>
      <div class='col-md-6'>
        <p>Name: {{ contact.getName }}</p>
        <p>Phone: {{ contact.getPhone }} </p>
        <p>Address: {{ contact.getAddress }} </p>
      </div>
    </div>
    {% endfor %}
  </div>
  <form action="/create_contact" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="name">Enter name:</label>
        <input id="name" name="name" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-2">
        <label for="phone">Enter phone:</label>
        <input id="phone"phone name="phone" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="address">Enter address:</label>
        <input id="address" name="address" class="form-control" type="text">
      </div>
    </div>
    <button type="submit" class="btn-primary">Add New</button>
  </form>
  <form action="/delete_contacts">
    <button type="submit" class="btn-danger">Delete All Contacts</button>
  </form>
</body>
</html>
